{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Chris Cornell</h1>
        <p>Chris Cornell, nacido Christopher John Boyle (Seattle, Washington, 20 de julio de 1964-Detroit, Michigan, 18 de mayo de 2017),1​2​ fue un cantante estadounidense y guitarrista que adquirió fama por ser el vocalista de Soundgarden, Audioslave y Temple of the Dog.3​ Comenzó su carrera como baterista antes de convertirse en guitarrista y cantante.</p>
        <p>Según la revista Hit Parade, ocupa el 4.º puesto de las mejores voces de la historia del hard rock. Una encuesta del sitio web de la revista Rolling Stone lo sitúa en el 9.º puesto de los mejores cantantes de la Historia, y según Planet rock ocupa el 22.º puesto de lista de las 40 mejores voces del rock.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/chris.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}